@using Entities.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class=" table table-bordered">
    <tr>
        <th style="color:red" class="align-top">#</th>
        <th style="color:red">Name</th>
        <th style="color:red">Price</th>
        <th style="color:red">Stock</th>
        <th style="color:red">Delete</th>
        <th style="color:red">Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-outline-success">Update</a></td>
           
        </tr>


    }
</table>


